.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.login-main {
  width: 350px;
  height: auto;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px var(--text-secondary);
  background-color: var(--card-bg);
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 36px;
}
.login-demo-credentials {
  padding: 10px;
  margin-bottom: 15px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-form label {
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--text-primary);
  font-weight: 600;
}

.login-form input {
  padding: 10px;
  margin-bottom: 18px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #4a90e2;
}

.login-button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #3b7bd6;
}
.login-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.login-footer p {
  color: var(--text-secondary);
}
.navigator-link {
  text-decoration: none;
}
