.login-bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 400px;
  padding: 30px;
  border-radius: 8px;
  background-color: #111d38;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login-form label {
  margin-bottom: 6px;
  font-size: 14px;
  color: white;
}

.login-form input {
  padding: 10px;
  margin-bottom: 18px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #4a90e2;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #3b7bd6;
}
.footer {
  color: white;
}
.footer span {
  color: green;
  cursor: pointer;
}
.navigator-link {
  text-decoration: none;
}
