.edit-transaction-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.edit-transaction-card {
  width: 90%;
  height: 90%;
  max-width: 400px;
  max-height: 500px;

  background-color: #f5f7fa;
  padding: 20px;
  border-radius: 5px;
}

.edit-transaction-card h2 {
  margin-bottom: 14px;
  text-align: center;
}

.edit-transaction-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.edit-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit-form-group label {
  font-weight: bold;
}
.edit-transaction-form input,
.edit-transaction-form select {
  padding: 6px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.edit-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 80%;
  gap: 10px;
  margin-top: 10px;
}

.update-btn,
.cancel-btn {
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.update-btn {
  background-color: #4a90e2;
}
.cancel-btn {
  background-color: #ccc;
}
