.category-cards-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  overflow-x: auto;
  gap: 5px;
  margin-top: 10px;
  justify-content: start;
  padding-bottom: 10px;
}

.category-card {
  width: 150px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(26, 25, 25, 0.15);
}

.category-name {
  font-size: 16px;
  margin-bottom: 7px;
  color: var(--text-primary);
}

.category-total {
  font-size: 15px;
  font-weight: 700;
  color: #4a90e2;
}
@media (min-width: 760px) {
  .category-cards-container {
    gap: 10px;
  }
  .category-card {
    width: 190px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
  }
}
