.summary-cards-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.summary-card {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  background: #068f9e;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.summary-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(4, 39, 240, 0.15);
}
.summery-card-title {
  color: #c5eef3;
  font-weight: 700;
  margin-bottom: 5px;
}
.summery-card-value {
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.month-selection {
  width: 100%;
  outline: none;
  border-radius: 5px;
  color: rgb(201, 201, 20);
  background: transparent;
  border: 1px solid rgb(106, 143, 165);
  margin-top: 5px;
  padding: 10px;
}
@media (min-width: 400px) {
  .summary-card {
    padding: 20px;
  }
}
