.summary-cards-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.summary-card {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  background-color: #ffffff;
}
.summery-card-value {
  font-size: 15px;
  color: #f97316;
  font-weight: 500;
}
