.loading-container {
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-self: center;
  margin-top: 20px;
}
.loading-text {
  margin-top: 10px;
  font-size: 18px;
  color: #555555;
}
