.filters-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  border-radius: 10px;
  height: 100px;
  width: 100%;
}
.filter-row-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  background-color: #f5f7fa;
  border-width: none;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
.dropdown-category {
  background-color: #f5f7fa;
  border-width: none;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  outline: none;
}
