:root {
  --main-bg: #f5f7fa;
  --card-bg: #ffffff;

  /* TEXT */
  --text-primary: #6b7280;
  --text-secondary: #9ca3af;

  /* HEADER */
  --header-primary: #1f2937;

  /* BUTTON */
  --btn-bg-primary: #0ea5b7;
  --btn-text-primary: #ffffff;

  /* ACCENT */
  --accent: #14b8a6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg);
  font-family: system-ui, Arial, sans-serif;
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-weight: bold;
  color: var(--header-primary);
}

p {
  color: var(--text-primary);
}

input::placeholder {
  color: var(--text-secondary);
}

input:focus {
  outline: none;
  border-color: var(--accent);
}
